//styling for images
.main-image {
  padding-bottom: 40%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    .padded {
      padding: 2rem;
      max-width: 250px;
      @media #{$small-only} {
        padding: 1rem;
      }
      &.white {
        color: $primary-white;
        a, h3, {
          color: $primary-white;
        }
      }
    }
  }
}