<div class="group">
  <div class="small-24 medium-18 block">
    <div class="group">
      <div class="small-24 block">
        <img src="/img/Leading-Story.png">
      </div>
    </div>
    <div class="group stack medium-unstack">
      {{#each model}}
        <div class="medium-8 block">
          {{#link-to 'posts.post' this}}
            {{title}} <small class='muted'>by {{author}}</small>
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class="medium-6 block hide-for-small-only"><h4>Sidebar</h4></div>
</div>